{% load static %}
{% include 'accounts/navbar.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style>
        .avatar {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        }
        .parallax {
			/* The image used */
			background-color: #DCDCDC;

			/* Set a specific height */
			min-height: 500px;

			/* Create the parallax scrolling effect */
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
        .table tr th {
            border-color: black;
        }
        .table tr td {
            border-color: black;
        }
    </style>

</head>

<body class="parallax">
    
    {% block body %}


    <!-- section -->
    <div class="section ">
        <!-- container -->
        <div class="container pt-5 ">
            <!-- row -->
            <div class="row">

                <div class="col-md-3">
                    <div class="col-md">
                        <div class=" d-flex justify-content-start pb-3">
                            <img src="/media/avatar.jpeg" alt="Avatar" class="avatar">
                        </div>
                        
                        <div class="section-title ms-auto pt-2">
                            <h3 class="title justify-content-start">User Panel</h3>
                        </div>
                            <div>
                                <div>
                                    {%if user.is_staff%}
                                    <td class="text-left"><a href="/uploadedphotos">Uploaded Photos</a></td>
                                    {%endif%}
                                </div>
                                <div>
                                    <td class="text-left"><a href>Purchased Photos</a></td>
                                </div>
                                <div>
                                    <td class="text-left"><a href='/photo_favorite_list'>Favorites</a></td>
                                </div>
                                <div>
                                    <td class="text-left"><a href="/following">Following</a></td>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title pl-2">User Profile </h3>
                        </div>
                    </div>
                    <table class="shopping-cart-table table">
                        <tr>
                            <th class="text-left">Username</th>
                            <td class="text-left">{{ user.username}} </td>
                        </tr>
                        <tr>
                            <th class="text-left">Email</th>
                            <td class="text-left">{{ user.email}}</td>
                        </tr>


                    </table>
                </div>


            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

    {% endblock %}

</body>

</html>